# Copyright 2020 The Execstub Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#Config guration for stubing
__EXECSTUBBING_STUB_KEY="{{.StubKey}}"
__EXECSTUBBING_CMD_TO_STUB="{{.CmdToStub}}"
__EXECSTUBBING_UNIT_TEST_EXEC="{{.UnitTestExec}}"
__EXECSTUBBING_TEST_HELPER_PROCESS_METHOD="{{.TestHelperProcessMethod}}"
__EXECSTUBBING_DATA_DIR="{{.DataDir}}"
__EXECSTUBBING_TIMEOUT_NANOS={{.TimeoutAsFormattedNanos}}
__EXECSTUBBING_PIPE_STUBBER={{.PipeStubber}}
__EXECSTUBBING_PIPE_TEST_HELPER_PROC={{.PipeTestHelperProcess}}

# Static outcome specified if any non Empty
__EXECSTUBBING_STD_ERR={{ base64 .TxtStderr }}
__EXECSTUBBING_STD_OUT={{ base64 .TxtStdout }}
__EXECSTUBBING_EXIT_CODE={{.ExitCodeTxt}}
